<!DOCTYPE html>
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(
                rel='stylesheet', 
                href='https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap'
            )
        link(rel='stylesheet', href='style.css')
        title Weatherinder
        
    body
        .box
            header.header
                h1 Weatherinder 🌧️

            .about
                p 
                    | Sometimes the rain can catch you by surprise, 
                    | which can lead to colds and more unpleasant consequences.<br>
                    | Weatherinder's bot will warn you daily about the weather in your city 
                    | and whether to take an umbrella with you!
                p Supported messengers:
                a(href="https://t.me/weatherinder_bot" target="_blank") 
                    img.messenger(src="img/Telegram_logo.svg", alt="Telegram")

            .form
                form(action="")
                    select.form__text
                        option(value="Saint-Ptetersburg") Saint-Ptetersburg
                    .form__answer Weather
                    button.form__submit It's rainy?

    script(src="script.js")